.labels

  .no-labels
    color grey
    text-align center
    font-style italic

  .customize-label
    display flex
    align-items center

    .create-label, .color-picker
      margin-top 8px

    .create-label
      text-align center
      font-size 24pt

      cursor pointer

      &:hover
        font-weight 700

  .color-picker
    margin 0 15px


  .my-labels
    margin-top 20px

    .label
      margin 0 5px

      cursor pointer

      .remove-label
        display none

      &:hover
        .remove-label
          display block



