template(name="Contact")
    .contact
        .contact-buttons
            .contact-button
                i.fa.fa-facebook
                a(href='https://www.facebook.com/anthony.reid.14' target="_blank") Facebook
            .contact-button
                i.fa.fa-envelope-o
                a.email-link(href='mailto:anthonyreid99@gmail.com') Email
            .contact-button
                i.fa.fa-twitter
                a(href="https://twitter.com/Anthony_Reid99" target="_blank") Twitter
            .contact-button
                i.fa.fa-github
                a(href="https://github.com/AnthonyReid99" target="_blank") Github
