template(name="Resume")
    .resume
        object(data="assets/work/resume.pdf" type="application/pdf")
            .download-resume
                a.btn.btn-large(href="assets/work/resume.pdf" download="resume_anthony_reid.pdf")
                    i.material-icons.right system_update_alt
                    | Download


