template(name="Home")
    .home
        .home-nav
            .nav-item(data-route='Blog')
                i.fa.fa-th-large
                .text
                    .title Blog
                    .subtitle What I have to say
            .nav-item(data-route='Projects')
                i.fa.fa-files-o
                .text
                    .title Projects
                    .subtitle What I'm working on
            .nav-item(data-route='Resume')
                i.fa.fa-file
                .text
                    .title Resume
                    .subtitle What I've done
            a.nav-item(href='https://github.com/AnthonyReid99')
                i.fa.fa-github
                .text
                    .title Github
                    .subtitle What I've written



