#posts
  .add-post
    margin 40px 0

  .table-val

    text-align center

    &.title
      text-align left

    &.post-controls
      flex 1 1 0

    &.author
      flex 2 2 0

    &.status
      flex 2 2 0

      &.draft
        color grey

      &.published
        font-weight 700

    i:hover
      font-weight 700

  .post-body
    padding 10px

  .post-controls
    display flex


#edit-post
  .post-labels
    display flex
    margin-bottom 40px

    .label.chip
      margin 0 5px

      cursor pointer

      opacity .6

      &.selected
        opacity 1
